# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Coverage files
.coverage
.coverage.*
.htmlcov/
.coverage/

# Mac system files
.DS_Store

# pytest
.pytest_cache/

