repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: '23.7.0'
    hooks:
    -   id: black
        args: ["--line-length=88"]
-   repo: https://github.com/PyCQA/flake8
    rev: '6.0.0'
    hooks:
    -   id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203"]
